<% include ../partials/header %>

<div class="container">
  <h1 class="jumbotron"><%= campground.name %></h1>

  <img class="img-thumbnail" src="<%= campground.image %>">

  <p><%= campground.description %></p>

  <% campground.comments.forEach((comment) => {%>
    <p>
      <strong><%= comment.author %></strong>
      - <%= comment.text %>
    </p>
  <% }) %>
</div>



<% include ../partials/footer %>
